# 
# Dit is een voorbeeld .env bestand. Sla dit bestand op als .env 
# en vul de waarden in zoals die voor jouw omgeving gelden.
# Dit bestand moet je niet committen naar git, dus zorg ervoor 
# dat het 'ignored' wordt in je .gitignore bestand. De specifieke instellingen
# voor je remote omgeving (bv Azure) stel je in via de instellingen bij de provider.
# 
PORT=8080
JWT_SECRET=verysecretkey
LOGLEVEL=trace 

DB_HOST=sql7.freesqldatabase.com
DB_PORT=3306
DB_USER=sql7712083
DB_PASSWORD=kfXw9LPfSn
DB_DATABASE=sql7712083